COMPOSE_PROJECT_NAME=tower-exchange
PROJECT_NAME=tower-exchange
SITE_NAME=Tower Exchange Kyiv
THEME_NAME=Tower Exchange
THEME_TEXT_DOMAIN=tower-exchange
WORDPRESS_PORT=8080
ADMINER_PORT=8081
WP_AUTO_PLUGINS=cyr2lat,debug-log-viewer,disable-gutenberg,disable-comments,all-in-one-wp-migration
